body {
    background-color: beige;
}

h1, h2 {
    text-align: center;
}

.box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

th, td {
    border: 2px solid black;
    text-align: left;
    padding: 15px;
}

.btn {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}